bin/
export/
**/Thumbs.db
settings.txt
Thumbs.db
# This file contain credentials, instead provide the empty file ClientId.mc.unpopulated
source/ClientId.mc
# Gemini API key for automated translations
gemini_api_key.txt
