<!--

   Distributed under MIT Licence
     See https://github.com/house-of-abbey/GarminHomeAssistant/blob/main/LICENSE.


   GarminHomeAssistant is a Garmin IQ application written in Monkey C and routinely
   tested on a Venu 2 device. The source code is provided at:
              https://github.com/house-of-abbey/GarminHomeAssistant.

   P A Abbey & J D Abbey & Someone0nEarth, 31 October 2023

-->

<settings>
  <setting
    propertyKey="@Properties.api_key"
    title="@Strings.SettingsApiKey"
    prompt="@Strings.SettingsApiKeyPrompt"
  >
    <settingConfig type="alphaNumeric" />
  </setting>

  <setting
    propertyKey="@Properties.api_url"
    title="@Strings.SettingsApiUrl"
    prompt="https://homeassistant.local/api"
  >
    <settingConfig type="alphaNumeric" />
  </setting>

  <setting
    propertyKey="@Properties.config_url"
    title="@Strings.SettingsConfigUrl"
    prompt="https://homeassistant.local/local/garmin/menu.json"
  >
    <settingConfig type="alphaNumeric" />
  </setting>

  <setting
    propertyKey="@Properties.cache_config"
    title="@Strings.SettingsCacheConfig"
  >
    <settingConfig type="boolean" />
  </setting>

  <setting
    propertyKey="@Properties.clear_cache"
    title="@Strings.SettingsClearCache"
  >
    <settingConfig type="boolean" />
  </setting>

  <setting
    propertyKey="@Properties.enable_vibration"
    title="@Strings.SettingsVibration"
  >
    <settingConfig type="boolean" />
  </setting>

  <setting
    propertyKey="@Properties.app_timeout"
    title="@Strings.SettingsAppTimeout"
  >
    <settingConfig type="numeric" min="0" />
  </setting>

  <setting
    propertyKey="@Properties.poll_delay_combined"
    title="@Strings.SettingsPollDelay"
  >
    <settingConfig type="numeric" min="0" />
  </setting>

  <setting
    propertyKey="@Properties.confirm_timeout"
    title="@Strings.SettingsConfirmTimeout"
  >
    <settingConfig type="numeric" min="0" />
  </setting>

  <setting
    propertyKey="@Properties.pin"
    title="@Strings.SettingsPin"
  >
    <settingConfig type="alphaNumeric" />
  </setting>

  <setting
    propertyKey="@Properties.menu_alignment"
    title="@Strings.SettingsTextAlign"
  >
    <settingConfig type="list">
      <listEntry value="1">@Strings.LeftToRight</listEntry>
      <listEntry value="0">@Strings.RightToLeft</listEntry>
    </settingConfig>
  </setting>

  <setting
    propertyKey="@Properties.enable_battery_level"
    title="@Strings.SettingsEnableBatteryLevel"
  >
    <settingConfig type="boolean" />
  </setting>

  <setting
    propertyKey="@Properties.battery_level_refresh_rate"
    title="@Strings.SettingsBatteryLevelRefreshRate"
  >
    <settingConfig type="numeric" min="5" />
  </setting>

  <setting
    propertyKey="@Properties.webhook_id"
    title="@Strings.WebhookId"
  >
    <settingConfig type="alphaNumeric" readonly="true" />
  </setting>

  <group enableIfTrue="@Properties.cache_config" id="wifiLteExection" title="@Strings.WifiLteExecution" description="@Strings.WifiLteExecutionDescription">
    <setting
      propertyKey="@Properties.wifi_lte_execution"
      title="@Strings.WifiLteExecutionEnable"
    >
      <settingConfig type="boolean" />
    </setting>
  </group>
</settings>
