<!--

   Distributed under MIT Licence
     See https://github.com/house-of-abbey/GarminHomeAssistant/blob/main/LICENSE.


   GarminHomeAssistant is a Garmin IQ application written in Monkey C and routinely
   tested on a Venu 2 device. The source code is provided at:
              https://github.com/house-of-abbey/GarminHomeAssistant.

   P A Abbey & J D Abbey & SomeoneOnEarth, 31 October 2023

-->

<settings>
  <setting
    propertyKey="@Properties.api_key"
    title="API Key for Home Assistant"
    prompt="Long-Lived Access Token"
  >
    <settingConfig
      type="alphaNumeric"
    />
  </setting>

  <setting
    propertyKey="@Properties.api_url"
    title="URL for Home Assistant API"
    prompt="https://homeassistant.local/api"
  >
    <settingConfig
      type="alphaNumeric"
    />
  </setting>

  <setting
    propertyKey="@Properties.config_url"
    title="URL for menu configuration (JSON)"
    prompt="https://homeassistant.local/local/garmin/menu.json"
  >
    <settingConfig
      type="alphaNumeric"
    />
  </setting>

  <setting
    propertyKey="@Properties.app_timeout"
    title="Timeout in seconds. Exit the application after this period of inactivity to save the device battery."
  >
    <settingConfig
      type="numeric"
      min="0"
    />
  </setting>

  <setting
    propertyKey="@Properties.confirm_timeout"
    title="After this time (in seconds), a confirmation dialog for an action is automatically closed and the action is cancelled. Set to 0 to disable the timeout."
  >
    <settingConfig
      type="numeric"
      min="0"
    />
  </setting>

  <setting
    propertyKey="@Properties.types_representation"
    title="Representing types with icons (off) or with labels (on)"
  >
    <settingConfig
      type="boolean"
    />
  </setting>

  <setting
    propertyKey="@Properties.menu_alignment"
    title="Left (off) or Right (on) Menu Alignment"
  >
    <settingConfig
      type="boolean"
    />
  </setting>

</settings>
