<!--

   Distributed under MIT Licence
     See https://github.com/house-of-abbey/GarminHomeAssistant/blob/main/LICENSE.


   GarminHomeAssistant is a Garmin IQ application written in Monkey C and routinely
   tested on a Venu 2 device. The source code is provided at:
              https://github.com/house-of-abbey/GarminHomeAssistant.

   P A Abbey & J D Abbey & Someone0nEarth, 31 October 2023

-->

<settings>
  <setting
    propertyKey="@Properties.api_key"
    title="@Strings.SettingsApiKey"
    prompt="@Strings.SettingsApiKeyPrompt"
  >
    <settingConfig
      type="alphaNumeric"
    />
  </setting>

  <setting
    propertyKey="@Properties.api_url"
    title="@Strings.SettingsApiUrl"
    prompt="https://homeassistant.local/api"
  >
    <settingConfig
      type="alphaNumeric"
    />
  </setting>

  <setting
    propertyKey="@Properties.config_url"
    title="@Strings.SettingsConfigUrl"
    prompt="https://homeassistant.local/local/garmin/menu.json"
  >
    <settingConfig
      type="alphaNumeric"
    />
  </setting>

  <setting
    propertyKey="@Properties.app_timeout"
    title="@Strings.SettingsAppTimeout"
  >
    <settingConfig
      type="numeric"
      min="0"
    />
  </setting>

  <setting
    propertyKey="@Properties.confirm_timeout"
    title="@Strings.SettingsConfirmTimeout"
  >
    <settingConfig
      type="numeric"
      min="0"
    />
  </setting>

  <setting
    propertyKey="@Properties.types_representation"
    title="@Strings.SettingsUi"
  >
    <settingConfig
      type="boolean"
    />
  </setting>

  <setting
    propertyKey="@Properties.menu_alignment"
    title="@Strings.SettingsTextAlign"
  >
    <settingConfig
      type="boolean"
    />
  </setting>

  <setting
    propertyKey="@Properties.widget_start_no_tap"
    title="@Strings.SettingsWidgetStart"
  >
    <settingConfig
      type="boolean"
    />
  </setting>

    <setting
    propertyKey="@Properties.glance_secondary_design"
    title="@Strings.SettingsGlanceSecondaryDesign"
  >
    <settingConfig
      type="boolean"
    />
  </setting>

</settings>
